@page
@model asp_presentacion.Pages.Ventanas.UbicacionesModel
@{
    ViewData["Titulo"] = "Ubicaciones";
}

<center>
    <div>
        <form method="POST" enctype="multipart/form-data">
            @Html.AntiForgeryToken()

            <div align="left">
                <h3>
                    Ubicaciones
                </h3>
            </div>

            <div align="left" class="bt_panel_buttons">
                <input type="submit"
                       value="Refrescar"
                       asp-page-handler="BtRefrescar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Nuevo"
                       asp-page-handler="BtNuevo"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Guardar"
                       asp-page-handler="BtGuardar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
                <input type="submit"
                       value="Cancelar"
                       asp-page-handler="BtCancelar"
                       class="btn btn-secondary"
                       disabled="@(Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas)" />
            </div>

            @if (Model.Accion != lib_utilidades.Enumerables.Ventanas.Listas ||
            Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden" asp-for="@Model.Actual!.Id" />
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input type="hidden"
                       asp-for="@Model.Actual!.Nombre" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Descripcion" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Imagen" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Barrio" />
                <input type="hidden"
                       asp-for="@Model.Actual!.Coordenada" />
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Editar)
            {
                <div class="containers_vn panel panel-default">
                    <h3>
                        Ubicacion
                    </h3>

                    <div>
                        <!-- Campo Nombre del Ubicacion -->
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Nombre
                            </label>
                            <div class="col-lg-6">
                                <input id="nmNombre"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Nombre" />
                            </div>
                        </div>
                        <!-- Campo Descripcion del Ubicacion -->
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Descripcion
                            </label>
                            <div class="col-lg-6">
                                <input id="nmDescripcion"
                                       class="cts_forms form-control"
                                       asp-for="@Model.Actual!.Descripcion" />
                            </div>
                        </div>
                        <!-- Campo Imagen del Ubicacion -->
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Imagen
                            </label>
                            <div class="col-lg-6">
                                @if (Model.Actual!.Imagen != null)
                                {
                                    <img height="100"
                                         width="100"
                                         src="data:image;base64,
                                            @System.Convert.ToBase64String(
                                            lib_utilidades.EncodingHelper.ToBytes(
                                            Model.Actual!.Imagen))" />
                                }
                                <input type="file"
                                       class="form-control"
                                       asp-for="FormFile" />
                            </div>
                        </div>
                        <!-- Campo Barrio del Ubicacion -->
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Barrio
                            </label>
                            <div class="col-lg-6">
                                <select id="nmBarrio"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Barrio"
                                        asp-items="@(new SelectList(Model.Barrios, "Id", "Nombre"))">
                                </select>
                            </div>
                        </div>
                        <!-- Campo Coordenada del Ubicacion -->
                        <div class="form-group">
                            <label class="col-lg-4 control-label">
                                Coordenadas
                            </label>
                            <div class="col-lg-6">
                                <select id="nmCoordenadas"
                                        class="form-control"
                                        asp-for="@Model.Actual!.Coordenada"
                                        asp-items="@(new SelectList(Model.Coordenadas, "Id", "Coord"))">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            }

            @if (ViewData.ContainsKey("Mensaje"))
            {
                <input type="hidden"
                       asp-for="@Model.Accion" />
                @await Html.PartialAsync("../Emergentes/Mensajes.cshtml")
                ;
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <div class='popup'>
                    <div class='pp_del_inner'>
                        <div style='width:95%'>
                            <h2 align="left">
                                Mensaje
                            </h2>
                            <h4 align="left">
                                ¿Desea borrar el Ubicacion?
                            </h4>
                            <h6 align="left">
                                @Model.Actual!.Nombre
                            </h6>
                            <br />
                            <input type="submit"
                                   value="Borrar"
                                   asp-page-handler="BtBorrar"
                                   class="btn btn-secondary" />
                            <input type="submit"
                                   value="Cerrar"
                                   asp-page-handler="BtCancelar"
                                   class="btn btn-secondary" />
                        </div>
                    </div>
                </div>
            }

            @if (Model.Accion == lib_utilidades.Enumerables.Ventanas.Listas || Model.Accion == lib_utilidades.Enumerables.Ventanas.Borrar)
            {
                <input id="flNombre" class="cts_forms form-control" asp-for="@Model.Filtro!.Nombre" placeholder="Nombre" />
                <br />

                <div class="containers_vn panel panel-default">
                    <table class="tb_data table table-striped table-bordered table-hover">
                        <tr>
                            <th>
                                Nombre
                            </th>
                            <th>
                                Descripcion
                            </th>
                            <th>
                                Imagen
                            </th>
                            <th>
                                Barrio
                            </th>
                            <th>
                                Coordenada
                            </th>
                            <th>
                                Accion
                            </th>
                        </tr>

                        @if (Model != null && Model.Lista != null)
                        {
                            @foreach (var elemento in Model.Lista)
                            {
                                <tr>
                                    <td>
                                        @elemento.Nombre
                                    </td>
                                    <td class="cl_hidden">
                                        @elemento.Descripcion
                                    </td>
                                    <td class="cl_hidden">
                                        @if (elemento.Imagen != null)
                                        {
                                            <img height="60"
                                                 width="60"
                                                 src="data:image;base64,
                                                    @System.Convert.ToBase64String(
                                                    lib_utilidades.EncodingHelper.ToBytes(
                                                    elemento.Imagen))" />
                                        }
                                    </td>
                                    <td class="cl_hidden">
                                        @Model.ConvertirBarrio(@elemento.Barrio)
                                    </td>
                                    <td class="cl_hidden">
                                        @Model.ConvertirCoordenada(@elemento.Coordenada)
                                    </td>
                                    <td>
                                        <input type="submit"
                                               value="Modificar"
                                               asp-page-handler="BtModificar"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                        <input type="submit"
                                               value="Borrar"
                                               asp-page-handler="BtBorrarVal"
                                               class="btn btn-secondary"
                                               asp-route-data="@elemento.Id" />
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            }
        </form>
    </div>
</center>